/target
/.scala_dependencies
/.settings
/.classpath
/.project
/bin
/.cache
/src/main/resources/informe-LaTex/QSim_Molinari_Rosito.aux
/src/main/resources/informe-LaTex/QSim_Molinari_Rosito.log
/src/main/resources/informe-LaTex/QSim_Molinari_Rosito.synctex.gz
/src/main/resources/informe-LaTex/QSim_Molinari_Rosito.toc
